header h3{
    margin-top: 10px;
    text-align: center;
}
main h2{
    font-family:monospace;
    text-align: center;
    padding: 10px;
}
main p{
    padding: 5px;
}
main li{
    padding: 10px;
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    position: fixed;
    bottom: 0;
    width: 100%;
}